<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center align-content-center">
        <div class="col-md-3 login">
          <form method="post" action="/login">
            <label><small>Username</small></label>
            <input
              class="form-control form-control-sm"
              name="username"
              type="text"
            /><br />
            <label><small>Password</small></label>
            <input
              class="form-control form-control-sm"
              type="password"
              name="password"
            />
            <br />
            <button class="btn btn-info btn-sm">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
